:root {
 

  color-scheme: light dark;
  color: rgba(224, 214, 214, 0.87);
  background-color: #fffdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

